<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
      <h1>We'll be right back</h1>
      <body>
        <p>
          The site is currently neing updated.
        </p>
      </body>
  </body>
</html>
